<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
	<div class="col-sm-8">
		<div class="jumbotron">
			<p> "hello wordld" </p>
		</div>
	</div>



</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
